<section class="about">
    <div class="profile-container">
        <img src="/images/profile.png" alt="Brandon Lombard Profile Picture">
        <div class="profile-info">
            <h1>Brandon Lombard</h1>
            <p><%= about.tagline %></p>
        </div>
    </div>

    <div class="interests-container">
        <h2>My Interests</h2>
        <div class="tags">
            <% about.interests.forEach(function(interest) { %>
                <div class="tag"><%= interest %></div>
            <% }); %>
        </div>
    </div>

    <div class="about-me-container">
        <h2>About Me</h2>
        <% about.about_me.forEach(function(paragraph) { %>
            <p><%= paragraph %></p>
        <% }); %>
    </div>
</section>