<section class="landing">
    <div class="landing-container">
        <img src="/images/profile.png" />
        <h1 class="merriweather">Welcome to My Portfolio</h1>
        <p>Hi, I'm Brandon, a passionate Healthcare Software Developer focused on creating innovative and responsive
            healthcare systems that enhance workflows and make a positive impact on clients' lives.</p>
        <a href="/projects" class="cta-button">View My Work
        </a>
    </div>
</section>