<section class="landing">
    <div class="landing-container">
        <img src="/images/profile.png" />
        <h1 class="merriweather">Hi, I'm Brandon</h1>
        <p>I'm a <b>Healthcare Software Developer</b> and <b>Computer Science Educator</b> passionate about building innovative software solutions that improve healthcare systems and streamline workflows. With a background in health informatics and curriculum development, I develop tools that enhance patient care and create engaging, practical learning experiences for the next generation of programmers.</p>
        <a href="/projects" class="cta-button">View My Work
        </a>
    </div>
</section>