/* Projects Page Styles */
.projects {
    padding: 2rem 0;
}

.projects h1 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--color-heading);
    margin-bottom: 1rem;
}


/* Styling for filters section */

/* Container for the project filters */
.project-filters {
    padding: 1em;
}

/* Title for the filter section */
.project-filters h2 {
    font-size: 1.5em;
    margin-bottom: 0.75em;
    color: #333;
}

/* Container for the filter options (checkboxes and labels) */
.filter-options {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
}

.filter-options div {
    display: flex;
}

.filter-options div  {
    display: flex;
}

/* Style the checkboxes */
.filter-checkbox {
    width: 18px;
    height: 18px;
}

label {
    padding-left: 5px;
}

/* Style the labels for checkboxes */
.filter-options label {
    font-size: 1em;
    margin-right: 1.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #555;
}

.filter-options label:hover {
    color: #000;
}

/* Adjusting filter options for mobile */
@media (max-width: 600px) {
    .filter-options {
        flex-direction: column;
        flex-wrap: wrap; /* Allow wrapping */
        align-items: flex-start; /* Align vertically */
        justify-content: flex-start; /* Align to the left */
    }

}


.projects .description {
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-text-muted);
    margin-bottom: 2rem;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.project-card {
    background-color: var(--color-header);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px var(--box-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center; /* Center align content inside the card */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items horizontally */
    justify-content: space-between;
}

.project-card h2 {
    font-size: 1.5rem;
    color: var(--color-primary);
    margin-bottom: 0.5rem;
}

.project-card p {
    font-size: 1rem;
    color: var(--color-text);
}

.project-card a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 500;
    transition: color 0.3s ease;
}

.project-card a:hover {
    color: var(--color-primary-hover);
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px var(--box-shadow-nav);
}

.project-card img {
    width: 100%; /* Full width inside its container */
    max-width: 250px; /* Limit the maximum width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Add rounded corners to the image */
    margin-bottom: 1rem; /* Add spacing below the image */
}
