<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/portfolio_projects/saint_gloopy_noops/style.css">
</head>

<body>
    <!-- Top Navigation -->
    <header>
        <div id="logo">
            Saint Gloopy Noops Hospital
        </div>
        <!-- Links - Only if user is accessing the dashboard -->
        <% if (currentPath==='/dashboard' ) { %>
            <div id="links">
                <a href="/saint-gloopy-noops/dashboard">Dashboard</a> | 
                <a href="#">Documentation View</a> | 
                <a href="#">Widgets</a> | 
                <a href="">Documentation</a>
            </div>
            <div id="account">
                <a href="#">Settings</a> | 
                <a href="#">Messages</a> | 
                Signed in as <%- username %>
                    | <a href="/saint-gloopy-noops/logout">Logout</a>
            </div>
            <% } %>
    </header>

    <!-- Sidebar - Only if user is accessing the dashboard -->
    <% if (currentPath==='/dashboard' ) { %>
        <div class="sidebar">
            <div id="patient-data">
                <img src="/images/portfolio_projects/saint-gloopy-noops/default-avatar.jpg" alt="Patient Image"
                    class="profile-image">
                <p><strong>Patient Name</strong></p>
            </div>

            <div class="patient-profile">
                <p><strong>Age:</strong> 0</p>
                <p><strong>Blood Type:</strong> A POS</p>
                <p><strong>Last Visit:</strong> Sometime </p>
                <p><strong>Next Appointment:</strong> Sometime</p>
            </div>

            <a href="/saint-gloopy-noops/dashboard">🏥 Dashboard</a>
            <a href="#">📄 Records</a>
            <a href="#">📋 Appointments</a>
            <a href="#">💊 Prescriptions</a>
        </div>
        <% } %>


            <!-- Main Content Area -->
            <div class="main-content">
                <%- body %> <!-- Inject other views -->
            </div>

            <!-- Footer -->
            <footer>
                &copy; 2025 Saint Gloopy Noops Hospital - All Rights Reserved
            </footer>
</body>

</html>